.course-main {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    align-items: center;
}

.course {
    width: 230px;
    height: 350px;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 40px;
}

.course-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.course-img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}